/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

html {
  overflow-y: scroll;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  /*max-width: 42em;*/
  width: 60em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}




/*
 * Custom
 */
code{font-family: "Courier New", sans-serif}
pre {
  background-color: #000;
}
.spezial input.left {
  border-right: 0;
}
.spezial div.mid {
  max-width: 6px;
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
}
.spezial select.right {
  border-left: 0;
  -webkit-appearance: none;
}
.btn.input-group-addon.right {
    border-radius: 0 5px 5px 0;
}
.spacer.top {
  height: 120px;
}
.spacer.bottom {
  height: 60px;
}
pre {
  padding: 10px;
}
.adminlogin {
  width: 400px;
}
.adminlogin input {
  width: 480px;
  height: 24px;
  line-height: 2 !important;
  padding: 4px;
  font-size: 10px;
}
.adminlogin .btn {
  width: auto;
  height: 24px;
  padding: 0 10px 0 10px;
  font-size: 11px;
}

table.adminlist {
  border-spacing: 1px;
}
table.adminlist thead th {
  padding: 6px;
  white-space: nowrap ! important;
}
table.adminlist tbody td {
  padding: 6px;
  white-space: nowrap ! important;
}
table.adminlist tbody td img {
  top: 1px;
}
header {
  margin-top: 20px;
}
.masterhead-brand {
  margin-right: 10px;
}
.nav-masterhead {
  margin-left: 10px;
}
table.adminlist > thead {
  background-color: #037aff;
}
table.adminlist > tbody > tr > td:first-child, table.adminlist > thead > tr > th:first-child {
  background-color: #037aff;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
table.adminlist > tbody > tr:nth-child(even) {background-color: #333;}
table.adminlist > tbody > tr:nth-child(odd) {background-color: #444;}
table.adminlist > tbody > tr > td:nth-child(5) {min-width: 220px;}

.important {
  font-family: monospace;
  background-color: #676767;
}